.form-heading {
  text-align: center;
  font-weight: none;
  color: navy;
}

@media (max-width: 768px) {
  .form-heading {
    font-size: 24px;
    text-align: center;
  }
  .form {
    padding: 20px;
    border: 1px solid rgb(40, 60, 92);
    border-radius: 5px;

  }
}
.custom-button:disabled {
  background-color: #d9d9d9 !important; 
  color: #bfbfbf !important;         
  border-color: #bfbfbf !important; 
}

.ant-menu-item-selected {
  background-color: transparent !important;
  color: beige !important;
} 
/* 
.ant-menu-item:hover{
  background-color: transparent !important; 
  color: beige !important; 

}
.ant-menu-item-active {
  color: rgb(221, 245, 220) !important; 
}


/* Base styles for menu (Desktop and larger screens) */


/* 
.ant-menu {
  display: inline-block;
  transition: none;
}

.ant-menu-item-selected {
  background-color: transparent !important;
  color: #ff6347 !important; 
}

.ant-menu-item:hover {
  background-color: transparent !important;
  color: #ff6347 !important;
  transition: color 0.3s ease-in-out; 
}

@media (max-width: 768px) {
 
  .ant-menu {
    display: none; 
  }

  .ant-avatar {
    font-size: 20px; 
  }

  .logo {
    font-size: 18px; 
  }

  .mobile-menu-icon {
    display: block;
    color: white;
    font-size: 24px;
    cursor: pointer;
  }

  .ant-drawer-content {
    background-color: rgb(215, 215, 224) !important; 
    color: black;
  }

  .ant-menu-item {
    font-size: 16px;
  }

  .ant-menu-item-selected {
    color: #eae2e0 !important;
  }

  .ant-menu-item {
    padding: 10px 20px;
  }
} */
