#root {
    width: 100vw;
    height: 100vh;
}

.mainContentContainer {
    overflow: hidden;
    /* Hides scrollbar */
    overflow-y: auto;
    /* Adds vertical scrolling when necessary */
}

.bg-white {
    background: '#fff';
}